body{
    background-color:rgba(115, 115, 148, 0.2);
}
.successful{
font-size: 50px;
font-weight: bold;
color: black;
margin-top: 20%;
    
}
.continue__buton{
    margin: auto;
    background-color:  rgb(49, 157, 157);
    border: none;
    margin-bottom: 10%;
}
